{% extends "admin/change_list.html" %}
 {% load static %}
{% block extrahead%}
{%endblock %}

<!-- <style>
    .myheading {
        background-color: red;
    }
</style> -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/color_list.css' %}" />

<div class="myheading" >
    <div class="headerred" ></div>
    <div class="contentContainer" >
        <h1>ملاحظة:</h1>
        <p class="myparagrph">فقط الادمن لديه صلاحية إضافة احجام.  اذا كنت تريد اضافة لون معين غير موجود بقائمة الاحجام الموجودة بالاسفل قم بطلب للأدمن ليقوم بأضافة الحجم لك</p>
    </div>
  </div>
  {{ block.super }} {% endblock %}
